.input-group {
    position: relative;
    }
   
   .input {
    border: solid 1.5px #000000;
    width: 100%;
    border-radius: 10px;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #646464;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .user-label {
    position: absolute;
    left: 20px;
    color: #7a7a7a;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
   }
   
   .input:focus, input:valid {
    outline: none;
    border: 1.5px solid #70dcc5;
   }
   
   .input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: #ffffff;
    padding: 0 .4em;
    color: #70dcc5;
   }      
