.sidebar {
  background-color: #ffffff;
  padding: 20px;
  border-right: 1px solid #e4e4e4;
}
.sidebar a {
  display: block;
  padding: 10px 0;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}


.sidebar a:hover {
  color: #70dcc5;
}

.content-section { display: none; }
.content-section.active { display: block; }
.sidebar a.active { font-weight: bold; color: #70dcc5; }

.main-content {
  padding: 20px;
}
.main-content .section-heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.card-custom {
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  padding: 20px;
}
.card-custom h5 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.edit-icon i{
  color: #70dcc5;
  cursor: pointer;
  font-size: x-large;
}

.edit-icon i:hover {
  color: #378574;
}

.profile img{
  width: 50px;
  height: 50px;
  object-fit:cover;
  border-radius: 50%;
}

.profile_name{
  font-weight: bold;
}
.profile_detailes{
  font-weight: 500;
}
 
.profile_detailes span{
  font-weight: normal;
  color: #777777;
}


.balance span{
  background-color: #70dcc5;
  opacity: 80%;
  padding: 5px 25px;
  border-radius: 30px;
  margin: 0 10px;
}

.withdraw h5{
  background-color: #adadad;
  padding: 5px 25px;
  border-radius: 30px;
  margin: 0 10px;
}