      /* Navbar*/
      /*===========================================================================================*/

      body {
        padding-top: 96px;
    }
    header {
      width: 100%;
      height: 100%;
      --color: #e4e4e4;
      background-color: #F3F3F3;
      background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
          linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
      background-size: 80px 80px;
    }    
    .nav.scrolled {
        background-color: #EAEBEC !important;
        transition: background-color 0.3s;
    }
    .ezy__nav2 {
        /* Bootstrap variables */
        --bs-body-color: #000;
        --bs-body-bg: rgb(255, 255, 255);
    
        /* Easy Frontend variables */
        --ezy-theme-color: rgb(13, 110, 253);
        --ezy-theme-color-rgb: 13, 110, 253;
    
        background-color: var(--bs-body-bg);
    }
    
    /* Gray Block Style */
    .gray .ezy__nav2,
    .ezy__nav2.gray {
        /* Bootstrap variables */
        --bs-body-bg: rgb(246, 246, 246);
    }
    
    /* Dark Gray Block Style */
    .dark-gray .ezy__nav2,
    .ezy__nav2.dark-gray {
        /* Bootstrap variables */
        --bs-body-color: #ffffff;
        --bs-body-bg: rgb(30, 39, 53);
    }
    
    /* Dark Block Style */
    .dark .ezy__nav2,
    .ezy__nav2.dark {
        /* Bootstrap variables */
        --bs-body-color: #ffffff;
        --bs-body-bg: rgb(11, 23, 39);
    
    
    }
    
    .ezy__nav2 .navbar-brand img {
        width: 80px;
        height: auto;
        margin-left: 10px;
    }
    
    .ezy__nav2 .navbar-toggler {
        border: none;
        box-shadow: none !important;
    }
    
    .ezy__nav2 .navbar-toggler>span {
        display: flex;
        align-items: center;
        height: 32px;
    }
    
    .ezy__nav2 .navbar-toggler>span>span {
        position: relative;
    }
    
    .ezy__nav2 .navbar-toggler>span>span,
    .ezy__nav2 .navbar-toggler>span>span::before,
    .ezy__nav2 .navbar-toggler>span>span::after {
        height: 2px;
        background-color: var(--bs-body-color);
        width: 25px;
        display: inline-block;
        border-radius: 5px;
        transition: all .35s ease-in-out;
    }
    
    .ezy__nav2 .navbar-toggler>span>span::before,
    .ezy__nav2 .navbar-toggler>span>span::after {
        content: '';
        position: absolute;
        left: 0;
    }
    
    .ezy__nav2 .navbar-toggler[aria-expanded="false"]>span>span::before {
        top: 7px;
    }
    
    .ezy__nav2 .navbar-toggler[aria-expanded="false"]>span>span::after {
        bottom: 7px;
    }
    
    .ezy__nav2 .navbar-toggler[aria-expanded="true"]>span>span {
        background-color: transparent;
    }
    
    .ezy__nav2 .navbar-toggler[aria-expanded="true"]>span>span::before {
        top: 0;
        transform: rotate(-45deg);
    }
    
    .ezy__nav2 .navbar-toggler[aria-expanded="true"]>span>span::after {
        bottom: 0;
        transform: rotate(45deg);
    }
    
    .ezy__nav2 .navbar-nav .nav-link {
        color: var(--bs-body-color);
        opacity: .6;
    }
    
    .ezy__nav2 .navbar-nav .nav-link:hover,
    .ezy__nav2 .navbar-nav .nav-link:focus,
    .ezy__nav2 .navbar-nav .nav-link.active {
        color: var(--bs-body-color);
        opacity: 1;
    }
    
    @media (min-width: 992px) {
        .ezy__nav2 .navbar-nav .nav-link {
            padding-right: 16px;
            padding-left: 16px;
        }
    }
    
    /* btns */
    .ezy__nav2 .btn-primary {
        background-color: var(--ezy-theme-color);
        border-color: var(--ezy-theme-color);
    }
    
    .ezy__nav2 .btn-primary:hover {
        background-color: rgba(var(--ezy-theme-color-rgb), .9);
        border-color: rgba(var(--ezy-theme-color-rgb), .9);
    }
    
    .ezy__nav2 .btn-outline-primary {
        color: var(--ezy-theme-color);
        border-color: var(--ezy-theme-color);
    }
    
    .ezy__nav2 .btn-outline-primary:hover {
        color: #fff;
        background-color: rgba(var(--ezy-theme-color-rgb), .9);
        border-color: rgba(var(--ezy-theme-color-rgb), .9);
    }



      /* Headers*/
      /*===========================================================================================*/    
    .ezy__header41 {
        /* Bootstrap variables */
        --bs-body-bg: rgb(255, 255, 255);
        --bs-body-bg-invert: rgb(246, 246, 246);
      
        /* Easy Frontend variables */
        --ezy-theme-color: rgb(13, 110, 253);
        --ezy-theme-color-rgb: 13, 110, 253;
        --ezy-body-color-invert: rgb(246, 246, 246);
      
        background-color: var(--bs-body-bg);
        color: var(--bs-body-color);
        overflow: hidden;
        position: relative;
        padding: 60px 0;
        z-index: 1;
      
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @media (min-width: 768px) {
        .ezy__header41 {
          padding: 20px 0;
        }
      }
      
      /* Gray Block Style */
      .gray .ezy__header41,
      .ezy__header41.gray {
        /* Bootstrap variables */
        --bs-body-bg: rgb(246, 246, 246);
      
        /* Easy Frontend variables */
        --ezy-body-color-invert: rgb(255, 255, 255);
      }
      
      /* Dark Gray Block Style */
      .dark-gray .ezy__header41,
      .ezy__header41.dark-gray {
        /* Bootstrap variables */
        --bs-body-color: #ffffff;
        --bs-body-bg: rgb(30, 39, 53);
      
        /* Easy Frontend variables */
        --ezy-body-color-invert: rgb(11, 23, 39);
      }
      
      /* Dark Block Style */
      .dark .ezy__header41,
      .ezy__header41.dark {
        /* Bootstrap variables */
        --bs-body-color: #ffffff;
        --bs-body-bg: rgb(11, 23, 39);
      
        /* Easy Frontend variables */
        --ezy-body-color-invert: rgb(30, 39, 53);
      }
      
      .ezy__header41-heading {
        font-weight: bold;
        font-size: 32px;
        line-height: 1.2;
        letter-spacing: 1px;
      }
      
      @media (min-width: 991px) {
        .ezy__header41-heading {
          font-size: 75px;
        }
      }
      
      .ezy__header41-sub-heading {
        font-size: 17px;
        line-height: 1.8;
        opacity: 0.8;
      }
      
      .ezy__header41-bg-holder {
        position: absolute;
        top: -50vw;
        left: -100vw;
        right: -100vw;
        bottom: 0;
        height: 50%;
        background-image: url(https://cdn.easyfrontend.com/pictures/pricing/pricing_12.png);
        background-position: center;
        background-repeat: repeat;
        opacity: 0.04;
        z-index: -1;
      }
      
      .ezy__header41-btn {
        padding: 10px 30px;
        font-weight: 500;
        color: #fff;
        background-color: var(--ezy-theme-color);
      }
      .ezy__header41-btn:hover {
        color: #fff;
        background-color: rgba(var(--ezy-theme-color-rgb));
      }
      
      .ezy__header41-shape {
        background-color: var(--ezy-body-color-invert);
        position: absolute;
        top: 0;
        left: 100px;
        right: 0;
        bottom: 0;
        height: 100%;
        max-width: 390px;
        border-radius: 390px;
        z-index: -1;
      }
      @media (min-width: 991px) {
        .ezy__header41-shape {
          left: -50px;
        }
      }
      
      .ezy__header41-shape-three {
        left: 0;
        z-index: -2;
      }
      @media (min-width: 991px) {
        .ezy__header41-shape-three {
          left: -150px;
        }
      }

      /* Clients*/
      /*===========================================================================================*/      
      .ezy__clients4 {
        /* Bootstrap variables */
        --bs-body-color: #28303b;
        --bs-body-bg: rgb(255, 255, 255);
      
        /* Easy Frontend variables */
        --ezy-theme-color: rgb(13, 110, 253);
        --ezy-theme-color-rgb: 13, 110, 253;
      
        background-color: var(--bs-body-bg);
        overflow: hidden;
        padding: 60px 0;
      }
      
      @media (min-width: 768px) {
        .ezy__clients4 {
          padding: 80px 0;
        }
      }
      
      /* Gray Block Style */
      .gray .ezy__clients4,
      .ezy__clients4.gray {
        /* Bootstrap variables */
        --bs-body-bg: rgb(246, 246, 246);
      }
      
      /* Dark Gray Block Style */
      .dark-gray .ezy__clients4,
      .ezy__clients4.dark-gray {
        /* Bootstrap variables */
        --bs-body-color: #ffffff;
        --bs-body-bg: rgb(30, 39, 53);
      }
      
      /* Dark Block Style */
      .dark .ezy__clients4,
      .ezy__clients4.dark {
        /* Bootstrap variables */
        --bs-body-color: #ffffff;
        --bs-body-bg: rgb(11, 23, 39);
      }
      
      .ezy__clients4-heading {
        font-weight: bold;
        font-size: 25px;
        line-height: 25px;
        color: var(--bs-body-color);
      }
      
      @media (min-width: 768px) {
        .ezy__clients4-heading {
          font-size: 35px;
          line-height: 35px;
        }
      }
      
      .ezy__clients4-img {
        max-height: 50px;
      }      



      /* Services*/
      /*===========================================================================================*/

      .ezy__service23 {
        --bs-body-color: rgb(50, 62, 80);
        --bs-body-bg: #fff;
      
        /* Easy Frontend variables */
        --ezy-theme-color: rgb(13, 110, 253);
        --ezy-theme-color-rgb: 13, 110, 253;
        --ezy-card-bg: #ffffff;
        --ezy-card-shadow: 0px 6px 44px rgba(173, 174, 197, 0.2);
        --ezy-icon-shadow: 0px 20px 40px 0 rgba(234, 233, 233, 0.92);
      
        background-color: var(--bs-body-bg);
        color: var(--bs-body-color);
      }
      
      /* Gray Block Style */
      .gray .ezy__service23,
      .ezy__service23.gray {
        /* Bootstrap variables */
        --bs-body-bg: rgb(246, 246, 246);
      
        /* Easy Frontend variables */
        --ezy-card-bg: #ffffff;
      }
      
      /* Dark Gray Block Style */
      .dark-gray .ezy__service23,
      .ezy__service23.dark-gray {
        /* Bootstrap variables */
        --bs-body-color: #ffffff;
        --bs-body-bg: rgb(30, 39, 53);
      
        /* Easy Frontend variables */
        --ezy-card-bg: rgb(30, 39, 53);
        --ezy-card-shadow: 0px 6px 44px rgba(0, 0, 0, 0.2);
        --ezy-icon-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.2);
      }
      
      /* Dark Block Style */
      .dark .ezy__service23,
      .ezy__service23.dark {
        /* Bootstrap variables */
        --bs-body-color: #ffffff;
        --bs-body-bg: rgb(11, 23, 39);
      
        /* Easy Frontend variables */
        --ezy-card-bg: rgb(30, 39, 53);
        --ezy-card-shadow: 0px 6px 44px rgba(0, 0, 0, 0.2);
        --ezy-icon-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.2);
      }
      
      .ezy__service23-heading {
        font-size: 32px;
        font-weight: 700;
        line-height: 1;
      }
      
      @media (min-width: 768px) {
        .ezy__service23-heading {
          font-size: 45px;
        }
      }
      
      .ezy__service23-sub-heading {
        font-size: 17px !important;
        line-height: 1.5;
        opacity: 0.8;
      }
      
      .ezy__service23-separator {
        padding: 80px 0;
      }
      
      .ezy__service23-card {
        background-color: var(--ezy-card-bg);
        box-shadow: var(--ezy-card-shadow);
        border-radius: 10px !important;
        transition: 0.4s;
      }
      
      .ezy__service23-card-icon {
        font-size: 30px;
        padding: 20px;
        width: 70px;
        height: 70px;
        /* color: #fff; */
        background-color: transparent;
        box-shadow: var(--ezy-icon-shadow);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .ezy__service23-row [class*="col-"]:nth-of-type(1n) .ezy__service23-card-icon {
        color: #ffc107;
      }
      
      .ezy__service23-row [class*="col-"]:nth-of-type(2n) .ezy__service23-card-icon {
        color: #ff6400;
      }
      
      .ezy__service23-row [class*="col-"]:nth-of-type(3n) .ezy__service23-card-icon {
        color: #2f80ed;
      }
      
      .ezy__service23-row [class*="col-"]:nth-of-type(4n) .ezy__service23-card-icon {
        color: #3abdbb;
      }
      
      .ezy__service23-row [class*="col-"]:nth-of-type(5n) .ezy__service23-card-icon {
        color: #04004d;
      }
      
      .ezy__service23-row [class*="col-"]:nth-of-type(6n) .ezy__service23-card-icon {
        color: #ff1f1f;
      }
      
      .ezy__service23-card-title {
        font-size: 24px;
        font-weight: 700;
      }
      
      .ezy__service23-card-sub-title {
        font-size: 16px;
        opacity: 0.8;
      }      


      /* Talents*/
      /*===========================================================================================*/

      .ezy__testimonial5 {
        /* Bootstrap variables */
        --bs-body-color: #212529;
        --bs-body-bg: rgb(255, 255, 255);
      
        /* Easy Frontend variables */
        --ezy-theme-color: rgb(13, 110, 253);
        --ezy-theme-color-rgb: 13, 110, 253;
        --ezy-item-bg: #ffffff;
        --ezy-item-shadow: 0px 4px 44px rgba(159, 190, 218, 0.37);
        --ezy-rating-rgb: 255, 215, 0;
      
        background-color: var(--bs-body-bg);
        overflow: hidden;
        padding: 60px 0;
      }
      
      @media (min-width: 768px) {
        .ezy__testimonial5 {
          padding: 100px 0;
        }
      }
      
      /* Gray Block Style */
      .gray .ezy__testimonial5,
      .ezy__testimonial5.gray {
        /* Bootstrap variables */
        --bs-body-bg: rgb(246, 246, 246);
      
        /* Easy Frontend variables */
        --ezy-item-bg: #f6f6f6;
        --ezy-item-shadow: 0px 4px 44px rgba(179, 209, 236, 0.37);
      }
      
      /* Dark Gray Block Style */
      .dark-gray .ezy__testimonial5,
      .ezy__testimonial5.dark-gray {
        /* Bootstrap variables */
        --bs-body-color: #ffffff;
        --bs-body-bg: rgb(30, 39, 53);
      
        /* Easy Frontend variables */
        --ezy-item-bg: #232e3c;
        --ezy-item-shadow: none;
      }
      
      /* Dark Block Style */
      .dark .ezy__testimonial5,
      .ezy__testimonial5.dark {
        /* Bootstrap variables */
        --bs-body-color: #ffffff;
        --bs-body-bg: rgb(11, 23, 39);
      
        /* Easy Frontend variables */
        --ezy-item-bg: #162231;
        --ezy-item-shadow: none;
      }
      
      .ezy__testimonial5-heading {
        font-weight: bold;
        font-size: 25px;
        line-height: 25px;
        color: var(--bs-body-color);
      }
      
      @media (min-width: 768px) {
        .ezy__testimonial5-heading {
          font-size: 45px;
          line-height: 45px;
        }
      }
      
      .ezy__testimonial5-sub-heading {
        font-size: 16px;
        line-height: 22px;
        color: var(--bs-body-color);
      }
      
      .ezy__testimonial5-item {
        background-color: var(--ezy-item-bg);
        border-radius: 15px;
        overflow: hidden;
        box-shadow: var(--ezy-item-shadow);
        transition: transform 0.25s ease-in-out;
      }
      
      .ezy__testimonial5-item:hover {
        transform: translateY(-5px);
      }
      
      .ezy__testimonial5-item img {
        border-radius: 15px;
        padding: 5px;
      }
      
      .ezy__testimonial5-content * {
        color: var(--bs-body-color);
      }
      
      .ezy__testimonial5-social-links a {
        display: inline-block;
        opacity: 0.6;
        transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, color 0.25s ease-in-out;
      }
      
      .ezy__testimonial5-social-links a:hover {
        transform: translateY(5px);
        color: var(--bs-body-color);
        opacity: 1;
      }
      
      .ezy__testimonial5-rating [class*="fa-"]:not(.active),
      .ezy__testimonial5-rating [class*="fa-"]:not(.active) * {
        color: rgba(var(--ezy-rating-rgb), 0.2);
      }
      
      .ezy__testimonial5-rating [class*="fa-"].active,
      .ezy__testimonial5-rating [class*="fa-"].active * {
        color: rgba(var(--ezy-rating-rgb), 1);
      } 


      /* how it works*/
      /*===========================================================================================*/

      .ezy__howitworks5 {
        /* Bootstrap variables */
        --bs-body-color: #212529;
        --bs-body-bg: rgb(255, 255, 255);
      
        /* Easy Frontend variables */
        --ezy-theme-color: rgb(13, 110, 253);
        --ezy-theme-color-rgb: 13, 110, 253;
        --ezy-card-bg: #ffffff;
        --ezy-card-shadow: 0px 6px 44px rgba(173, 174, 197, 0.2);
        --ezy-icon-shadow: 0px 20px 40px 0 rgba(234, 233, 233, 0.92);
      
        background-color: var(--bs-body-bg);
        color: var(--bs-body-color);
        overflow: hidden;
        position: relative;
        padding: 60px 0;
      }
      
      @media (min-width: 768px) {
        .ezy__howitworks5 {
          padding: 100px 0;
        }
      }
      
      /* Gray Block Style */
      .gray .ezy__howitworks5,
      .ezy__howitworks5.gray {
        /* Bootstrap variables */
        --bs-body-bg: rgb(246, 246, 246);
      }
      
      /* Dark Gray Block Style */
      .dark-gray .ezy__howitworks5,
      .ezy__howitworks5.dark-gray {
        /* Bootstrap variables */
        --bs-body-color: #ffffff;
        --bs-body-bg: rgb(30, 39, 53);
      
        /* Easy Frontend variables */
        --ezy-card-bg: rgb(30, 39, 53);
        --ezy-card-shadow: 0px 6px 44px rgba(0, 0, 0, 0.2);
        --ezy-icon-shadow: -8px 25px 40px 0 rgba(0, 0, 0, 0.2);
      }
      
      /* Dark Block Style */
      .dark .ezy__howitworks5,
      .ezy__howitworks5.dark {
        /* Bootstrap variables */
        --bs-body-color: #ffffff;
        --bs-body-bg: rgb(11, 23, 39);
      
        /* Easy Frontend variables */
        --ezy-card-bg: rgb(30, 39, 53);
        --ezy-card-shadow: 0px 6px 44px rgba(0, 0, 0, 0.2);
        --ezy-icon-shadow: -8px 25px 40px 0 rgba(0, 0, 0, 0.2);
      }
      
      .ezy__howitworks5-heading {
        font-weight: bold;
        font-size: 25px;
        line-height: 25px;
      }
      
      @media (min-width: 768px) {
        .ezy__howitworks5-heading {
          font-size: 45px;
          line-height: 45px;
        }
      }
      
      .ezy__howitworks5-sub-heading {
        font-size: 18px;
        line-height: 1.6;
        opacity: 0.8;
      }
      
      .ezy__howitworks5-card {
        background-color: var(--ezy-card-bg);
        box-shadow: var(--ezy-card-shadow);
        border: 0;
        border-radius: 10px;
      }
      .ezy__howitworks5-icon {
        box-shadow: var(--ezy-icon-shadow);
        width: 65px;
        height: 65px;
        border-radius: 50%;
        font-size: 22px;
      }
      .ezy__howitworks5-card .card-text {
        font-size: 16px;
        line-height: 1.7;
      }      

      /* Footer*/
      /*===========================================================================================*/
      
      .ezy__footer2 {
        /* Bootstrap variables */
        --bs-body-color: #28303b;
        --bs-body-bg: rgb(255, 255, 255);
      
        /* Easy Frontend variables */
        --ezy-theme-color: rgb(13, 110, 253);
        --ezy-theme-color-rgb: 13, 110, 253;
      
        background-color: var(--bs-body-bg);
        color: var(--bs-body-color);
        padding-top:60px ;
      }

      .footer-brand img{
        width: 80px;
        height: auto;
      }
      
      @media (min-width: 768px) {
        .ezy__footer2 {
          padding-top: 80px;
          padding-bottom: 20px;
        }
      }
      
      /* Gray Block Style */
      .gray .ezy__footer2,
      .ezy__footer2.gray {
        /* Bootstrap variables */
        --bs-body-bg: rgb(246, 246, 246);
      }
      
      /* Dark Gray Block Style */
      .dark-gray .ezy__footer2,
      .ezy__footer2.dark-gray {
        /* Bootstrap variables */
        --bs-body-color: #ffffff;
        --bs-body-bg: rgb(30, 39, 53);
      }
      
      .dark .ezy__footer2,
      .ezy__footer2.dark {
        /* Bootstrap variables */
        --bs-body-color: #ffffff;
        --bs-body-bg: rgb(11, 23, 39);
      }
      
      .ezy__footer2-nav .nav-link {
        color: var(--bs-body-color);
      }
      
      .ezy__footer2-nav .nav-link:hover {
        color: var(--bs-body-color);
        opacity: 0.8;
      }
      
      .ezy__footer2-social li {
        list-style-type: none;
        display: inline-block;
        margin: 6px 8px;
      }
      
      .ezy__footer2-social li a {
        color: var(--bs-body-color);
        width: 35px;
        height: 35px;
        text-decoration: none;
      }
      
      .ezy__footer2-social li a:hover {
        color: var(--ezy-theme-color);
      }
      
      .ezy__footer2-quick-links li {
        margin-bottom: 8px;
      }
      
      .ezy__footer2-quick-links li a {
        color: var(--bs-body-color);
        opacity: 0.7;
        text-decoration: none;
      }
      
      .ezy__footer2-quick-links li a:hover {
        color: var(--bs-body-color);
        opacity: 1;
      }        